.chat-message {
    display: flex;
    align-items: flex-start;
    padding-inline: 30px;
    gap: 40px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
  }

  .chat-message p {
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 80%;
    color: var(--text-color);
  }
  
  .markdown-container {
    max-width: 80%;
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--text-color);
    word-wrap: break-word; /* Ensure long words break correctly */
  }
  
  .markdown-container p {
    margin: 0 0 10px; /* Add space between paragraphs */
  }
  
  .markdown-container ul,
  .markdown-container ol {
    padding-left: 20px; /* Indent lists */
  }
  
  .markdown-container h1,
  .markdown-container h2,
  .markdown-container h3,
  .markdown-container h4,
  .markdown-container h5,
  .markdown-container h6 {
    margin: 10px 0; /* Add space above and below headings */
  }
  
  


  
  .markdown-content {
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  /* Example of styling headings */
  .markdown-content h1 {
    font-size: 24px;
    color: #ffffff;
  }
  
  .markdown-content h2 {
    font-size: 20px;
    color: #ffffff;
  }
  
  .markdown-content h3 {
    font-size: 18px;
  }
  
/* Style for bullet points */
.markdown-content ul {
  list-style-type: disc; /* You can use disc, circle, or square */
  margin-left: 20px; /* Adjust as needed */
  margin-bottom: 10px; /* Add space below the list */
}

/* Style for code blocks */
.markdown-content pre {
  background-color: #282828; /* Light gray background */
  padding: 10px; /* Adjust as needed */
  border-radius: 10px; /* Rounded corners */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.markdown-content code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace; /* Monospace font for code */
}